<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schedule_manager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schedulemanager"
        android:usesCleartextTraffic="true">
        <activity android:name=".adminUI.HorizontalCalendarAdmin"></activity>
        <activity android:name=".adminUI.AdminSheduleShowTable" />
        <service
            android:name=".Messages"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".adminUI.AdminProfileSettings"></activity>
        <activity android:name=".userUI.UserSeeSqheduleActivity"></activity>
        <activity android:name=".userUI.UserLeaveRequestActivity"></activity>
        <activity android:name=".adminUI.SheduleAct" />
        <activity android:name=".adminUI.AdminSheduleSaves" />
        <activity android:name=".adminUI.AdminSheduleEdit" />
        <activity android:name=".adminUI.AdminSheduleShow" />
        <activity android:name=".adminUI.AdminEditEmployeesActivity" />
        <activity android:name=".adminUI.AdminShowEmployeesActivity" />
        <activity android:name=".userUI.UserProfileSettings" />
        <activity android:name=".adminUI.AdminWelcomeActivity" />
        <activity android:name=".adminUI.AdminLoginActivity" />
        <activity android:name=".userUI.UserWelcomeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".userUI.UserLoginActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!--<service
            android:name=".Messages">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->
    </application>

</manifest>